[Desktop Entry]
Encoding=UTF-8
Name=PIVX
Comment=PIVX P2P Cryptocurrency
Comment[fr]=PIVX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PIVX, eşten eşe kriptografik sanal para birimi
Exec=syndicate-qt %u
Terminal=false
Type=Application
Icon=syndicate128
MimeType=x-scheme-handler/syndicate;
Categories=Office;Finance;
