[Desktop Entry]
Encoding=UTF-8
Name=Syndicate
Comment=Syndicate P2P Cryptocurrency
Comment[fr]=Syndicate, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Syndicate, eşten eşe kriptografik sanal para birimi
Exec=syndicate-qt %u
Terminal=false
Type=Application
Icon=syndicate128
MimeType=x-scheme-handler/syndicate;
Categories=Office;Finance;
